{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
    <div class="sm:text-center lg:text-left">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block xl:inline">Search a Song</span>
        </h1>
        <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo.
        </p>
    </div>

    <div class="sm:text-center lg:text-left">
      <form action="" method="POST">
        {% csrf_token %}
          <input class="mt-10 border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
              type="search" name="search" placeholder="Search...">
          <button type="submit" class="text-#262626 bg-[#db4a2b] px-3 py-2 rounded-md text-sm font-medium">Submit</button>
      </form>
    </div>

    <div class="mt-10 sm:text-center lg:text-left">
        <h2 class="text-2xl font-bold mb-4">Search Results</h2>
        <div class="overflow-x-auto">
        {% if search_results|length == 0 %}
          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            Search your fav songs!
          </p>
        {% else %}
          <table class="min-w-full divide-y divide-gray-200 table-auto">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Album Cover</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Song</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Artist</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Album</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Length</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Release Year</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Add to Playlist</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {% for search_result in search_results%}
              <tr>
                <td class="px-6 py-4 whitespace-nowrap flex justify-center items-center">
                  <img src="{{ search_result.album.images.1.url }}" alt="Album Cover" class="h-10 w-10 rounded-full">
                </td>
                <td class="px-6 py-4 whitespace-nowrap font-medium text-gray-900">{{ search_result.name }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-gray-500">{{ search_result.artists.0.name }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-gray-500">{{ search_result.album.name }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-gray-500">{{ search_result.formatted_duration }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-gray-500">{{ search_result.album.release_year }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-gray-500">
                  <button id="dropdownDelayButton{{ forloop.counter }}" onclick="toggleDropdown({{ forloop.counter }})" data-dropdown-toggle="dropdownDelay" data-dropdown-delay="500" data-dropdown-trigger="hover" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" type="button">Playlist <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                    </button>
                    <div id="dropdownDelay{{ forloop.counter }}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">
                          <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">heyyy</a>
                          </li>
                        </ul>
                    </div>
                </td>
              </tr>
              {% endfor %}
              <!-- Add more rows as needed -->
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
</main>

<script>
  function toggleDropdown(index) {
      const dropdown = document.getElementById("dropdownDelay" + index);
      dropdown.classList.toggle("hidden");
  }
</script>

{% endblock %}